*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    margin: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}

.upper-container1{
    margin: 5%;
    height: 100%;
    padding-top: 20px;
}

#Tasks{
    font-weight:bold;
    font-size:2.5rem;
    margin-left:250px;
 }
 
 #Lists{
    font-size:2.5rem;
    margin-left:10px;
    opacity:0.5;
 }

.upper-container2{
    margin:0%;
    height: 100%;
    padding-top:20px;
    position:absolute;
    top:0px;
    right:0px;
}

#addlist{
    position:absolute;
    width:200px;
    height:100%;
    top: 10;
    right: 350;
    font-size:30px;
    opacity:0.5;
    padding-top:20px;
    
}

#circle{
    position:relative;
    width:590;
    height:100%;
    top:10;
}

.container3{
    display: flex;
    justify-content: center;
}

.card1{
    margin-top: 10px;
    border: 1px solid green;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightseagreen;
    margin: auto;

}

.div1{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: #cc80cc;
    border-bottom: 1px solid black;
}

.div2{
    width: 90%;
    height:10%;
    font-size: 22px;
    color: #fc8617;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}


.div3{
    width: 90%;
    height:10%;
    position: absolute;
    top:52%;
    text-align: left;
    font-size: 25px;
}

#check{
    width:25px;
    height:25px;
    margin-left: 10px;

}

.card2{
    margin-top: 10px;
    border: 1px solid green;
    height: 45vh;
    width: 15%;
    position:relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightseagreen;
    margin: auto;
    
    
   

}

.div4{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: #cc80cc;
    border-bottom: 1px solid black;
}

.div5{
    width: 90%;
    height:10%;
    font-size: 22px;
    color: #fc8617;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}


.div6{
    width: 90%;
    height:10%;
    position: absolute;
    top:52%;
    text-align: left;
    font-size: 25px;
}

#check{
    width:25px;
    height:25px;
    margin-left: 10px;

}


.card3{
    margin-top: 10px;
    border: 1px solid green;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightseagreen;
    margin: auto;

}

.div7{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: #cc80cc;
    border-bottom: 1px solid black;
}

.div8{
    width: 90%;
    height:10%;
    font-size: 22px;
    color: #fc8617;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}


.div9{
    width: 90%;
    height:10%;
    position: absolute;
    top:52%;
    text-align: left;
    font-size: 25px;
}

#check{
    width:25px;
    height:25px;
    margin-left: 10px;

}

.button{
    margin-top: 60px;
    color: red;
}

.links{
    margin-top: 50px;
}
  